body {
}

.title
{
    color: orange;
    text-align: center;
}

.text_normal
{
    color: white;
}

.repair_table
{
    color: white;
    background-color: gray;
    margin: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.circle {
    border-radius: 50%;
    background: yellow;
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 3px solid #000;
}

.job_button {
    display: inline-block;
    background-color: orange;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    color: black;
}