@{ 
    ViewBag.Title = "Logowanie";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Login.css" type="text/css" />
    <script>
        let buttonLock = false;

        function signIn() {
            if (!buttonLock) {
                buttonLock = true;
                setLoaderVisivility(true);
                var inputs = document.getElementById("login_form").elements;
                $.ajax({
                    url: '@Url.Action("SignIn", "Home")?login=' + inputs[0].value + '&pass=' + inputs[1].value,
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        var result = data.success * 1;
                        if (result) {
                            window.location.reload(true);
                        } else {
                            showToast("Nieprawidłowy login lub hasło");
                        }
                    },
                    error: function (ex) {
                        showToast("error");
                    },
                    complete: function () {
                        setLoaderVisivility(false);
                        buttonLock = false;
                    }
                });
            }
        }
    </script>
</head>
<body>
    <div class="banner">
        <p class="banner_title">MechanicApp</p>
    </div>
    <div class="wrapper">
        <div class="form">
            <form id="login_form" method="post" action="javascript:void(0);" onsubmit="signIn()">
                <p class="frame_label">Login</p>
                <input type="text" /><br><br>
                <p class="frame_label">Hasło</p>
                <input type="password" /><br><br>
                <div class="submit" onclick="signIn()"><span>Zaloguj się</span></div>
                <input type="submit" style="visibility: hidden; position: absolute;" />
            </form>
        </div><br><br>
        <div class="additional_option" onclick="location.href = '@Url.Action("Register", "Home")'">
            Nie masz konta?<br>
            Zarejestruj się
        </div>
    </div>
</body>
</html>
