
@{
    ViewBag.Title = "Rejestracja";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/LoginStyle.css" type="text/css" />
    <script>
        let passInput;
        let passInput2;
        let samePass = true;
        let buttonLock = false;
        $(document).ready(function () {
            passInput = document.getElementById("pass");
            passInput2 = document.getElementById("pass2");
        });

        function checkPassword() {
            if (passInput.value != passInput2.value) {
                samePass = false;
                passInput2.style.border = "2px solid red";
            } else {
                samePass = true;
                passInput2.style.border = "2px solid green";
            }
        }

        function signUp() {
            if (samePass) {
                if (!buttonLock) {
                    buttonLock = true;
                    setLoaderVisivility(true);
                    var inputs = document.getElementById("register_form").elements;
                    $.ajax({
                        url: '@Url.Action("SignUp", "Home")?login=' + inputs[0].value + '&pass=' + inputs[1].value,
                        type: 'POST',
                        dataType: 'json',
                        success: function (data) {
                            var result = data.result;
                            if (result == "ok") {
                                window.location.reload(true);
                            } else if (result == "exists") {
                                showToast("Nazwa użytkownika już istnieje");
                            } else if (result == "size") {
                                showToast("Nieprawidłowy rozmiar loginu lub hasła");
                            }
                        },
                        error: function (ex) {
                            showToast("error");
                        },
                        complete: function () {
                            setLoaderVisivility(false);
                            buttonLock = false;
                        }
                    });
                }
            } else {
                showToast("Błędnie powtórzone hasło");
            }
        }
    </script>
</head>
<body>
    <div class="banner">
        <p class="banner_title">MechanicApp</p>
    </div>
    <div class="wrapper">
        <div class="form">
            <form id="register_form" method="post" action="javascript:void(0);" onsubmit="signUp()">
                <p class="frame_label">Login</p>
                <input type="text" /><br><br>
                <p class="frame_label">Hasło</p>
                <input id="pass" type="password" oninput="checkPassword()" /><br><br>
                <p class="frame_label">Powtórz hasło</p>
                <input id="pass2" type="password" oninput="checkPassword()" /><br><br>
                <div class="submit" onclick="signUp()"><span>Zarejestruj się</span></div>
                <input type="submit" style="visibility: hidden; position: absolute;" />
            </form>
        </div><br><br>
        <div class="additional_option" onclick="location.href = '@Url.Action("Login", "Home")'">
            Masz już konto?<br>
            Zaloguj się
        </div>
    </div>
</body>
</html>
